@charset "windows-1252";
@import url("../font-awesome-4.6.3/css/font-awesome.css");

.amx-panelPage
{
border-color:Black; 
border-bottom-color:Black; border-bottom-style:solid; border-bottom-width:thin; 
border-top-color:Black; border-top-style:solid; border-top-width:thin; 
border-left-color:Black; border-left-style:solid; border-left-width:thin;
border-right-width:thin; border-right-style:solid; border-right-color:Black; 
}

.amx-panelGroupLayout.panelThickLine {
    /* For Green*/
    background-color: #86BC25;
    height: 2px;
}

.amx-panelGroupLayout.panelThinLine {
    /* For Green*/
    background-color: #86BC25;
    height: 1px;
}

.amx-cellFormat.cellThinLine {
    background-color: #86BC25;
    height: 1px;
}

.amx-listItem.listThinLine {
border-bottom-width:thin; border-bottom-style:solid; border-bottom-color:#86bc25;
}

.otAlert {     
color: white;     
position: absolute;     
left: 52%;     
top: -50%;     
z-index: 1;     
background: #ff6363;     
height: 20px;     
width: 20px;     
text-align: center;     
border-radius: 25px;     
font-size: x-small;     
line-height: 226%; 
} 

html[dir=ltr] .amx-selectOneChoice .selectItemsContainer {
    border-width:1px;
    border-radius: 0px;
    border-style: solid;
    -webkit-border-image: none;
    border-image: none;
    position: static;
    height: 40px;
    background-image: url("../images/DownArrow.png");
    background-repeat: no-repeat;
    background-position: 98%;
    width: 200px; 
        }

.amx-commandButton.goButtonSel {
    margin: 10px 5px 10px 5px;
    border: 0;
    padding: 9px 0px;
    display: inline-block;
    outline: 0;
    width: 40px;
    border-radius: 0px;
    background: #86bc25; 
    border: 2px solid #86bc25;
    background-image: none;
    font-family: Helvetica;
    color: #ffffff;
    font-size: medium;
}