<?xml version="1.0" encoding="UTF-8" ?>
<pageDefinition xmlns="http://xmlns.oracle.com/adfm/uimodel" version="12.2.1.1.20" id="SpringBoardPageDef"
                Package="com.isup.SpringBoard">
  <parameters/>
  <executables>
    <variableIterator id="variables"/>
    <iterator Binds="root" RangeSize="25" DataControl="ApplicationFeatures" id="ApplicationFeaturesIterator"/>
    <accessorIterator MasterBinding="ApplicationFeaturesIterator" Binds="features" RangeSize="25"
                      DataControl="ApplicationFeatures" BeanClass="oracle.adfmf.framework.FeatureInformation"
                      id="featuresIterator"/>
  </executables>
  <bindings>
    <tree IterBinding="featuresIterator" id="features">
      <nodeDefinition DefName="oracle.adfmf.framework.FeatureInformation" Name="features0">
        <AttrNames>
          <Item Value="id"/>
          <Item Value="image"/>
          <Item Value="name"/>
        </AttrNames>
      </nodeDefinition>
    </tree>
    <methodAction id="gotoFeature" RequiresUpdateModel="true" Action="invokeMethod" MethodName="gotoFeature"
                  IsViewObjectMethod="false" DataControl="ApplicationFeatures"
                  InstanceName="data.ApplicationFeatures.dataProvider">
      <NamedData NDName="featureId" NDValue="" NDType="java.lang.String"/>
    </methodAction>
    <methodAction id="toggleSpringboard" RequiresUpdateModel="true" Action="invokeMethod" MethodName="toggleSpringboard"
                  IsViewObjectMethod="false" DataControl="ApplicationFeatures"
                  InstanceName="data.ApplicationFeatures.dataProvider"/>
    <methodAction id="resetFeature" RequiresUpdateModel="true" Action="invokeMethod" MethodName="resetFeature"
                  IsViewObjectMethod="false" DataControl="ApplicationFeatures"
                  InstanceName="data.ApplicationFeatures.dataProvider">
      <NamedData NDName="fid" NDValue="#{pageFlowScope.featureId}" NDType="java.lang.String"/>
    </methodAction>
  </bindings>
</pageDefinition>
